<header>
    <nav>
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Chat App</a>
            <ul id="nav-mobile" class="right">
                <li class="active"><a id="toChat" href="/users//dashboard/{{id}}"><i class="mdi mdi-layers-outline left"></i>Dashboard</a></li>
                <li><a id="toChat" href="/users/{{id}}/joinChat"><i class="mdi mdi-comment-text-multiple-outline left"></i>Chat</a></li>
                <li><a id="toChat" href="/users/{{id}}/lecturers"><i class="mdi mdi-account-multiple left"></i>Lecturers</a></li>
                <li><a id="logout" href="/users/logout"><i class="mdi mdi-logout left"></i>Logout</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div>
        <h5 class="center">Welcome back {{name}}</h5>
    </div>

    <div id="mainContent" class="container">
        <div class="row">
            <div class="col s6">
                <div class="card small">
                    <div class="card-content center">
                        <a href="#"><span class="mdi mdi-account main-icons tooltipped" data-tooltip="My Profile"></span></a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card small">
                    <div class="card-content center">
                        <a href="/users/{{id}}/joinChat"><span class="mdi mdi-comment-text-multiple-outline main-icons tooltipped" data-tooltip="To Chat"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="footer-copyright">
        <div class="container center orange-text text-lighten-2">&copy; Copyright 2018. Powered by Vegistech</div>
    </div>
</footer>
