<header>
    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo"><i class="mdi mdi-message-processing left"></i>Netty</a>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="mdi mdi-menu"></i></a>
            <ul class="right hide-on-med-and-down">
                <li class="active"><a id="toChat" href="/users/dashboard/{{id}}"><i class="mdi mdi-layers-outline left"></i>Dashboard</a></li>
                <li><a id="toChat" href="/users/{{user._id}}/joinChat"><i class="mdi mdi-comment-text-multiple-outline left"></i>Chat</a></li>
                <li><a id="logout" href="/users/logout"><i class="mdi mdi-logout left"></i>Logout</a></li>
            </ul>
        </div>
    </nav>
    <ul id="nav-mobile" class="sidenav">
        <li class="active"><a id="toChat" href="/users/dashboard/{{id}}"><i class="mdi mdi-layers-outline left"></i>Dashboard</a></li>
        <li><a id="toChat" href="/users/{{user._id}}/joinChat"><i class="mdi mdi-comment-text-multiple-outline left"></i>Chat</a></li>
        <li><a id="logout" href="/users/logout"><i class="mdi mdi-logout left"></i>Logout</a></li>
    </ul>
</header>

<main>
    <div>
        <h5 class="center">Welcome back {{user.name}}</h5>
    </div>

    <div id="mainContent" class="container">
        <div id="card-div" class="row">
            <div class="col s12 l6">
                <div class="card small">
                    <div class="card-content center">
                        <a href="#profileModal" class="modal-trigger"><span class="mdi mdi-account main-icons tooltipped" data-tooltip="My Profile"></span></a>
                    </div>
                </div>
            </div>
            <div class="col l6 s12">
                <div class="card small">
                    <div class="card-content center">
                        <a href="/users/{{user._id}}/joinChat"><span class="mdi mdi-comment-text-multiple-outline main-icons tooltipped" data-tooltip="To Chat"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="profileModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="center"><i class="mdi mdi-settings"></i>{{user.name}} - Profile</h4>
            </div>
            <div class="content">
                <br>
                <h6 class="center">Personal Info</h6>
                <br>
                <hr>
                <br>
                <div class="input-field">
                    <input type="text" name="studentName" id="studentName" value="{{user.name}}" disabled>
                    <label>Student Name</label>
                </div>
                <div class="input-field">
                    <input type="text" name="username" id="username" value="{{user.username}}" disabled>
                    <label>Username</label>
                </div>
                <div class="input-field">
                    <input type="email" class="validate" name="email" id="email" value="{{user.email}}" disabled>
                    <label>Email</label>
                    <span class="helper-text" data-error="Please provide a valid email address" data-success="">e.g. dominic@example.com</span>
                </div>
                <div class="input-field">
                    <input data-password="{{user.password}}" type="password" class="validate" name="password" id="password" disabled>
                    <label>Password</label>
                    <span class="helper-text" data-error="Please provide a valid password" data-success="">Password should be at least 8 characters long</span>
                </div>
                <div class="input-field">
                    <input type="text" name="gender" id="gender" value="{{user.gender}}" disabled>
                    <label>Gender</label>
                </div>
                <div class="input-field col s12">
                    <input type="text"  name="level" id="level" value="{{user.level}}" disabled>
                    <label for-"level">Level</label>
                    <span class="helper-text" data-error="Please provide a valid level. e.g. 100 Level" data-success="">e.g. 100 Level</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="editButton" class="btn blue darken-2 waves-effect waves-light"><i class="mdi mdi-pencil left"></i>Edit</button>
            <button id="saveButton" class="btn green darken-2 waves-effect waves-light" data-id="{{user._id}}"><i class="mdi mdi-check left"></i>Save</button>
            <button class="btn red darken-2 waves-effect waves-light modal-close"><i class="mdi mdi-close left"></i>Close</button>
        </div>
    </div>
</main>

<footer>
    <div class="footer-copyright">
        <div class="container center orange-text text-lighten-2">&copy; Copyright 2018. Powered by Vegistech</div>
    </div>
</footer>
