{{#if errors}}
   {{#each errors}}
       <div>
           <p class="red-text text-darken-2 error-message center">{{this.msg}}</p>
       </div>
   {{/each}}
{{/if}}
{{#if error}}
   <div>
       <p class="red-text text-darken-2 error-message center">{{error}}</p>
   </div>
{{/if}}
<header>
    <div>
        <div class="navbar-fixed">
            <ul id="dropdown" class="dropdown-content">
                <li><a href="/">Log in</a></li>
                <li><a href="/users/register">Register</a></li>
            </ul>

            <nav>
              <div class="nav-wrapper container">
                <a href="/lecturers/register" class="brand-logo"><i class="mdi mdi-message-processing left"></i>Netty</a>
                <ul class="right">
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown">Student<i class="mdi mdi-menu-down right"></i></a></li>
                </ul>
              </div>
            </nav>
        </div>
    </div>
</header>
<section id="mainContent">
   <div class="row">
       <form id="signupForm" name="signupForm" method="POST" action="/lecturers/register">
           <span class="mdi"></span>
           <h5 class="center">Lecturer Signup</h5>
           <div class="row">
               <div class="col s12">
                   <div class="input-field">
                       <span class="mdi mdi-account prefix"></span>
                       <input value="{{name}}" type="text" id="name" name="name" autofocus>
                       <label for="name">Enter Your Name</label>
                       <span class="helper-text" data-error="Please provide your Name" data-success=""></span>
                   </div>
               </div>
           </div>

           <div class="row">
               <div class="col s12">
                   <div class="input-field">
                       <div class="mdi mdi-account prefix"></div>
                       <input value="{{username}}" type="text" id="username" name="lecturerUsername">
                       <label for="username">Username</label>
                       <span class="helper-text" data-error="Please provide a username" data-success=""></span>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col s12">
                   <div class="input-field">
                       <span class="mdi mdi-lock prefix"></span>
                       <input value="{{password}}" type="password" id="password" name="lecturerPassword">
                       <label for="password">Enter Password</label>
                       <span class="helper-text" data-error="Should be at least 8 characters long" data-success="">Should be at least 8 characters long</span>
                   </div>
               </div>
           </div>

           <div class="row">
               <div class="col s12">
                   <div class="input-field">
                       <button class="btn" type="submit" id="signupButton">Sign up</button>
                   </div>
               </div>
           </div>
           <div class="row">
                   <div class="col s12">
                   <p class="center" id="newUser">Have an account? <a href="/lecturers/login">Log in</a></p>
               </div>
           </div>
       </form>
   </div>
</section>
